.textarea {
    display: block;
}

.formControl {
    
}

.errorField textarea,
.errorField input {
    border-color: red;
}

.error {
    display: inline-block;
    margin: 4px 0;
    color: red;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: tomato;
}