* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1em;
  color: #414141;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "nav main";
  grid-gap: 30px;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}


.app-wrapper-content {
  grid-area: main;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  background: rgb(237, 152, 39);
  border: 0;
  transition: all .4s ease-in-out;
}

.button.disabled {
  pointer-events: none;
  background: silver;
  cursor: default;
}

.button:focus,
.button:hover {
  outline: none;
  background: rgb(198, 123, 25);
}